html {
  color-scheme: dark;
}
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/noise-texture.svg');
  @apply bg-gray-950 bg-repeat text-gray-50;
}

.buttonLink {
  @apply relative inline-flex h-fit w-fit rounded-full py-2 px-4;
  @apply border border-sky-100/20 bg-sky-200/10 text-sky-200 outline-none ring-teal-300;
  @apply after:absolute after:inset-0 after:rounded-full after:-z-10 after:bg-teal-100
  after:bg-opacity-0 after:blur-md;
  @apply transition-colors hover:border-teal-200/40 hover:text-teal-300 after:transition-all
  after:duration-500 after:hover:bg-opacity-15 focus:ring-2 after:animate-pulse;
}

.glassContainer {
  @apply relative;
}
.glassContainer::before {
  content: '';
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
}

.gridBackground {
  background-image: url('/assets/grid-pattern.png');
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  z-index: -15;
  background-position: center;
  opacity: 0.15;
  mask-image: radial-gradient(circle at 60% 50%, black 10%, transparent 40%);
}

.image__glow {
  @apply absolute h-1/2 w-1/2 rounded-full blur-3xl opacity-0 mix-blend-screen transition-opacity will-change-auto duration-500 group-hover:opacity-30;
}
